@model List<MovieRecommender.Core.Models.AppModels.MovieViewModel>
@foreach (var item in Model)
{
    var imagePath = "http://image.tmdb.org/t/p/w185/" + item.PosterPath;
    <div class="col-3 mb-3 movie-card-item">
        <div class="card h-100">
            <div class="view overlay">
                <img class="card-img-top" src="@imagePath"
                        alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">@item.TiTle</h4>
                <div class="card-rating">
                    <form class="rating">
                        <input type="hidden" value="@item.ID" />
                        <label>
                            <input type="radio" name="stars" @(item.Rate == 1 ? "checked" : "") value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" @(item.Rate == 2 ? "checked" : "") value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" @(item.Rate == 3 ? "checked" : "") value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" @(item.Rate == 4 ? "checked" : "") value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" @(item.Rate == 5 ? "checked" : "") value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
